b()
  border arguments
bb()
  border-bottom arguments
bt()
  border-top arguments
bl()
  border-left arguments
br()
  border-right arguments
by()
	border-top arguments
	border-bottom arguments
bx()
	border-left arguments
	border-right arguments
r()
  border-radius arguments