p()
  padding arguments

pt()
  padding-top arguments

pb()
  padding-bottom arguments

pl()
  padding-left arguments

pr()
  padding-right arguments

px()
  pl arguments
  pr arguments

py()
  pt arguments
  pb arguments

m()
  margin arguments

mt()
  margin-top arguments

mb()
  margin-bottom arguments

ml()
  margin-left arguments

mr()
  margin-right arguments

mx()
  ml arguments
  mr arguments

my()
  mt arguments
  mb arguments